body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

.page {
  padding: 40px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topButtons {
  display: flex;
  gap: 10px;
}

button {
  background: #2563eb;
  border: none;
  color: white;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.statCard {
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 25px;
}

.statCard h2 {
  margin: 0;
  font-size: 42px;
}

.card {
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 14px;
  color: #94a3b8;
}

td {
  padding: 14px;
  border-top: 1px solid #1e293b;
}

input,
select {
  background: #020617;
  border: 1px solid #334155;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.deleteBtn {
  background: #dc2626;
}

.companyGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.companyCard {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 16px;
  padding: 20px;
}
